.c {
  height: 100vh;
  position: relative;
}

.c-bg {
  width: 20px;
  height: 100%;
  background-color: #65d4ee;
  position: absolute;
}

.c-wrapper {
  padding-left: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-left {
  padding-left: 50px;
  flex: 1;
}

.c-right {
  padding-right: 50px;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.c-title {
  font-size: 60px;
  font-weight: 400;
}

.c-info-text {
  font-size: 30px;
  font-weight: 300;
  display: flex;
  align-items: center;
  margin: 50px 0;
  width: 70%;
}

.c-info-icons {
  display: flex;
  flex-direction: row;
}

.c-info-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: #000;
}

.c-info-icon:hover {
  color: #888;
  cursor: pointer;
}

input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 14px;
  margin: 10px 0;
  padding-left: 10px;
}

textarea {
  width: 100%;
  font-size: 14px;
  margin: 10px 0;
  padding-left: 10px;
}

button {
  border: none;
  padding: 15px;
  background-color: #65d4ee;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
