.f-text {
  height: 80px;
  text-align: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #65d4ee;
  border-bottom: 1px solid #65d4ee;
}
