.ca {
  width: 300px;
  max-height: 300px;
  min-height: 150px;
  margin: 20px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  position: relative;
}

.ca-browser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.ca-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  margin: 3px;
}

.ca-img {
  width: 100%;
  height: 100%;
  transition: all 3s ease;
}

.ca-img:hover {
  transform: scale(1.2);
  transition: all 3s ease;
}

/* .ca-details {
  position: relative;
  position: absolute;
  bottom: 50%;}
.ca-detail {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}
.ca-de-btn {
  height: 50px;
  width: 150px;
} */
