.n {
  height: 80px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #f7a01b;
  border-bottom: 1px solid #f7a01b;
}

.n-left {
  flex: 1;
}

.n-right {
  flex: 1;
}

.n-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  height: 80px;
  color: #f7a01b;
}

.n-right-items {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}
.n-right-item {
  font-size: 20px;
  font-weight: 600;
}

.n-right-item:hover {
  border-bottom: 4px solid #f7a01b;
}

@media screen and (max-width: 480px) {
  .n {
    position: relative;
    display: flex;
  }

  .n.active {
    display: initial;
  }

  .n-left.active {
    float: left;
  }

  .n-right.active {
    width: 100%;
  }

  .n-right-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 80px;
    left: -100%;
    transition: 1s fade out;
  }

  .n-right-items.active {
    display: contents;
    height: fit-content;
    left: 0;
    padding-left: 0;
    border-bottom: 1px solid #f7a01b;
    margin-top: 5px;
    padding-bottom: 10px;
  }

  .n-right-item {
    padding: 15px 0;
    border-bottom: 1px solid #f7a01b;
  }

  .n-icon {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
  }
}
